@(message: String)

@main(message) {
<h2 style="margin-top:50px;">Selamat Datang di Aplikasi Data Logger Saya</h2>
    <div class="container">
       <p>Tujuan dari sistem ini yaitu untuk membuat data logger yang di inputkan secara manual oleh user. Sistem ini masih 
       belum dilengkapi dengan mikrokontroller supaya dapat menerima data secara langsung yang terjadi di lapangan sehingga masih perlu pengambangan lebih
       lanjut dalam pembuatannya.</p>
       <p>Sistem ini dapat dikembangkan lebih lanjut agar fitur-fiturnya lebih menarik dan lebih ekspert.</p>
   </div>

}
